* html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif !important;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h2 {
  margin-top: 0;
}
a {
  color: #060606;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: #474747;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'navbar'
    'filtro'
    'main'
    'footer';
  gap: 0;
  width: 100vw;
}
/* Header */
.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: rgb(45, 118, 235);
}
.navbar-toggler {
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  padding: 0;
}
.navbar a {
  color: white;
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-toggler-icon {
  background-image: url('../imgs/icons/bars-solid.svg');
  width: 20px;
  padding: 1rem;
}
.nav-link {
  display: block;
  padding: 0.1rem 1rem;
}
.nav-item .nav-link:hover {
  color: #474747 !important;
}
/* dropdown */
.filtro {
  grid-area: filtro;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  padding: 1rem;
}
.filtro h2 {
  font-size: 1.2rem;
}
.dropdown-toggle {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #2e76eb;
  border: none;
}
ul {
  padding-left: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.2rem;
}
li {
  list-style: none;
}
li:hover {
  color: rgb(173, 187, 211);
  font-weight: 500;
}
/* Main */
main {
  grid-area: main;
  background: #e6e6e661;
  padding: 1rem;
}
.cards {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  height: 65vh;
  overflow-y: scroll;
}
.card {
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: none;
  border-radius: 1.5rem;
}
.card:hover {
  box-shadow: 0px 10px 15px rgb(36 36 36 / 8%);
}
.card img {
  width: 100%;
}
.card h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn-dark {
  border-radius: 100px;
  padding: 0.5rem 1.5rem;
  background-color: rgb(45, 118, 235);
  border: none;
}
.btn-dark:hover {
  background-color: #474747;
  font-weight: 500;
}
.page-link {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}
/* Footer */
footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #474747;
  color: white;
  gap: 0.7rem;
}
.copyright p {
  margin-bottom: 0;
  font-size: 0.8rem;
  text-align: center;
  line-height: 150%;
}
.icon {
  width: 20px;
  height: auto;
  margin-right: 0.2rem;
  color: white;
}
footer a {
  font-size: 0.8rem;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;
  }

  ul {
    gap: 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
  }
  main {
    padding: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.3rem;
    height: 80vh;
    overflow-y: scroll;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-areas:
      'navbar filtro filtro'
      'navbar main main'
      'footer main main';
    gap: 0;
    width: 100vw;
  }
  .navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .cards {
    height: 75vh;
    overflow-y: scroll;
  }
}
